section {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 5px;
  padding: 0;
}

.light, .dark {
  text-align: center;  
}

.outsidecontainer {
  text-align: center;
  width: 50%;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 5px;
}

.colorbox {
  display: inline-block;
  box-sizing: border-box;
  margin: 1px;
  min-height: 140px;
  width: 24%;
  min-width: 140px;
}

p {
  margin: 10px auto;
  padding: 5px;
}

h1, h2 {
  padding: 5px;
}

h3 {
  line-height: 32px;
  padding: 5px;
}

.colors h3, h4 {
  text-align: center;
  padding: 5px;
  margin: 5px auto;
}

.fonts h3 {
  text-align: left;
  padding: 5px;
  margin: 5px auto;
}

#box1 {
  background-color: rgb(245, 245, 220);
}

#box2 {
  background-color: rgb(211, 211, 211);
}

#box3 {
  background-color: rgb(240, 255, 240);
}

#box4 {
  background-color: rgb(224, 255, 255);
}

#box5 {
  color: white;
  background-color: rgb(47, 79, 79);
}

#box6 {
  color: white;
  background-color: rgb(85, 107, 47);
}

#box7 {
  color: white;
  background-color: rgb(0, 0, 128);
}

#box8 {
  color: white;
  background-color: rgb(0, 0, 0);
}

#box9 {
  color: white;
  background-color: rgb(105, 105, 105);
}

#box10 {
  color: white;
  background-color: rgb(139, 69, 19);
}

#box11 {
  color: white;
  background-color: rgb(210, 180, 140);
}

#box12 {
  color: white;
  background-color: rgb(0, 139, 139);
}

#box13 {
  border: 1px solid lightgray;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

#box14 {
  background-color: rgb(245, 255, 250);
}

#box15 {
  background-color: rgb(255, 255, 240);
}

#box16 {
  background-color: rgb(250, 240, 230);
}

.fontbox {
  width: 50%;
  display: inline-block;
  padding: 1px;
  box-sizing: border-box;
  min-height: 210px;
}

.outerFontbox {
  display: flex;
  align-items: flex-start;
  justify-content:left;
  flex-wrap: wrap;
  padding: 1px;
}

.catamaran {
  font-family: catamaran;
  font-size: large;
}

.openSans {
  font-family: "open sans";
}

.montserrat {
  font-family: montserrat;
}

.ubuntu {
  font-family: ubuntu;
}

.fontbox p {
  line-height: 20px;
}

.fontbox .p2 {
  font-weight: bold;
}

.fontbox .p3 {
  font-style: italic;
}

.fontbox .p4 {
  text-transform: uppercase;
}

.textStyles {
  padding: 5px;
}

.exampleLight, .exampleDark {
  width: 50%;
  box-sizing: border-box;
  display: inline-block;
  padding: 5px;
}

.exampleLight .mainHeading h1 {
  font-weight: 800;
  font-size: 32px;
  font-family: "open sans";
  background-color: beige;
  color: DarkSlateGray;
}

.exampleLight .subheading2 h2 {
  font-weight: 500;
  font-size: 28px;
  font-family: ubuntu;
  background-color: beige;
  color: DarkSlateGray;
}

.exampleLight .subheading3 h3 {
  font-weight: 600;
  font-size: 20px;
  font-family: montserrat;
  background-color: lightcyan;
  color: black;
}

.exampleLight .paragraph p {
  font-weight: 400;
  font-size: 16px;
  font-family: "open sans";
  background-color: honeydew;
  color: navy;
}

.exampleLight .caption p {
  font-weight: 300;
  font-size: 15px;
  font-family: catamaran;
  font-style: italic;
  background-color: honeydew;
  color: navy;
}

.exampleDark .mainHeading h1 {
  font-weight: 800;
  font-size: 32px;
  font-family: "open sans";
  background-color: dimgray;
  color: linen;
}

.exampleDark .subheading2 h2 {
  font-weight: 500;
  font-size: 28px;
  font-family: ubuntu;
  background-color: dimgray;
  color: linen;
}

.exampleDark .subheading3 h3 {
  font-weight: 600;
  font-size: 20px;
  font-family: montserrat;
  background-color: darkcyan;
  color: ivory;
}

.exampleDark .paragraph p {
  font-weight: 400;
  font-size: 16px;
  font-family: "open sans";
  background-color: saddlebrown;
  color: white;
}

.exampleDark .caption p {
  font-weight: 300;
  font-size: 15px;
  font-family: catamaran;
  font-style: italic;
  background-color: saddlebrown;
  color: white;
}
.tables {
  padding: 5px;
}
